<br><br>

<form [formGroup]="registerForm" (ngSubmit)="submit()" novalidate> 
    
 <input type="text" name="name" id="name" formControlName="name"><br>
 <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
   <div *ngIf="f.name.errors.required">Name is required</div>
   <div *ngIf="f.name.errors.minlength">Name should have 2 characters</div>
 </div><br>
 <input type="text" name="email" id="email" formControlName="email"><br>
 <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
    <div *ngIf="f.email.errors.required">Email is required</div> 
    <div *ngIf="f.email.errors.email">Enter valid email</div>
 </div><br>
 <input type="password" name="password" id="password" formControlName="password"><br>
 <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
    <div *ngIf="f.password.errors.required">Password is required</div>
    <div *ngIf="f.password.errors.minlength">Password min length be 7</div>
 </div><br>
 <input type="submit" value="submit">

</form>
